In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dimas\onedrive\desktop\apache_airflow\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\dimas\onedrive\desktop\apache_airflow\venv\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dimas\onedrive\desktop\apache_airflow\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dimas\onedrive\desktop\apache_airflow\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dimas\onedrive\desktop\apache_airflow\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dimas\onedrive\desktop\apache_airflow\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r'..\include\data\transactions.csv')
df.infer_objects()

df['Date'] = pd.to_datetime(df['Date'])
print(df.head())

            Invoice ID  Line  Customer ID  Product ID Size    Color  \
0  INV-US-001-03558761     1        47162         485    M      NaN
1  INV-US-001-03558761     2        47162        2779    G      NaN
2  INV-US-001-03558761     3        47162          64    M  NEUTRAL
3  INV-US-001-03558762     1        10142         131    M     BLUE
4  INV-US-001-03558762     2        10142         716    L    WHITE

   Unit Price  Quantity                Date  Discount  Line Total  Store ID  \
0        80.5         1 2023-01-01 15:42:00       0.0        80.5         1
1        31.5         1 2023-01-01 15:42:00       0.4        18.9         1
2        45.5         1 2023-01-01 15:42:00       0.4        27.3         1
3        70.0         1 2023-01-01 20:04:00       0.4        42.0         1
4        26.0         1 2023-01-01 20:04:00       0.0        26.0         1

   Employee ID Currency Currency Symbol               SKU Transaction Type  \
0            7      USD               $        MASU485-M-             Sale
1            7      USD               $       CHCO2779-G-             Sale
2            7      USD               $  MACO64-M-NEUTRAL             Sale
3            6      USD               $    FECO131-M-BLUE             Sale
4            6      USD               $   MAT-716-L-WHITE             Sale

  Payment Method  Invoice Total
0           Cash          126.7
1           Cash          126.7
2           Cash          126.7
3           Cash           77.0
4           Cash           77.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6416827 entries, 0 to 6416826
Data columns (total 19 columns):
 #   Column            Dtype
---  ------            -----
 0   Invoice ID        object
 1   Line              int64
 2   Customer ID       int64
 3   Product ID        int64
 4   Size              object
 5   Color             object
 6   Unit Price        float64
 7   Quantity          int64
 8   Date              datetime64[ns]
 9   Discount          float64
 10  Line Total        float64
 11  Store ID          int64
 12  Employee ID       int64
 13  Currency          object
 14  Currency Symbol   object
 15  SKU               object
 16  Transaction Type  object
 17  Payment Method    object
 18  Invoice Total     float64
dtypes: datetime64[ns](1), float64(4), int64(6), object(8)
memory usage: 930.2+ MB

In [6]:
df.isna().sum()

Invoice ID                0
Line                      0
Customer ID               0
Product ID                0
Size                 413102
Color               4350783
Unit Price                0
Quantity                  0
Date                      0
Discount                  0
Line Total                0
Store ID                  0
Employee ID               0
Currency                  0
Currency Symbol           0
SKU                       0
Transaction Type          0
Payment Method            0
Invoice Total             0
dtype: int64

In [7]:
total_rows = len(df)
null_percent = df.isnull().sum() / total_rows
null_cols = null_percent[null_percent > 0.4].index
df_cleaned = df.drop(columns=null_cols)
df_cleaned

,Invoice ID,Line,Customer ID,Product ID,Size,Unit Price,Quantity,Date,Discount,Line Total,Store ID,Employee ID,Currency,Currency Symbol,SKU,Transaction Type,Payment Method,Invoice Total
0,INV-US-001-03558761,1,47162,485,M,80.5,1,2023-01-01 15:42:00,0.00,80.50,1,7,USD,$,MASU485-M-,Sale,Cash,126.70
1,INV-US-001-03558761,2,47162,2779,G,31.5,1,2023-01-01 15:42:00,0.40,18.90,1,7,USD,$,CHCO2779-G-,Sale,Cash,126.70
2,INV-US-001-03558761,3,47162,64,M,45.5,1,2023-01-01 15:42:00,0.40,27.30,1,7,USD,$,MACO64-M-NEUTRAL,Sale,Cash,126.70
3,INV-US-001-03558762,1,10142,131,M,70.0,1,2023-01-01 20:04:00,0.40,42.00,1,6,USD,$,FECO131-M-BLUE,Sale,Cash,77.00
4,INV-US-001-03558762,2,10142,716,L,26.0,1,2023-01-01 20:04:00,0.00,26.00,1,6,USD,$,MAT-716-L-WHITE,Sale,Cash,77.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6416822,INV-PT-035-01497756,2,1640168,15414,P,35.5,1,2025-03-18 08:52:00,0.35,23.07,35,402,EUR,€,CHGI15414-P-,Sale,Credit Card,69.55
6416823,INV-PT-035-01497756,3,1640168,15232,G,51.5,1,2025-03-18 08:52:00,0.35,33.48,35,402,EUR,€,CHGI15232-G-RED,Sale,Credit Card,69.55
6416824,INV-PT-035-01497757,1,1636770,15401,XL,40.0,1,2025-03-18 19:01:00,0.00,40.00,35,404,EUR,€,FESP15401-XL-,Sale,Credit Card,40.00
6416825,INV-PT-035-01497758,1,1642472,15671,M,36.5,1,2025-03-18 19:10:00,0.00,36.50,35,399,EUR,€,MAUN15671-M-,Sale,Credit Card,36.50
6416826,INV-PT-035-01497759,1,1639026,17424,M,25.5,1,2025-03-18 19:11:00,0.35,16.57,35,404,EUR,€,FESH17424-M-,Sale,Credit Card,16.57

In [8]:
df[df.select_dtypes(include=['number']).columns] = df.select_dtypes(include=['number']).fillna(0)
df[df.select_dtypes(include=['object']).columns] = df.select_dtypes(include=['object']).fillna('unknown')

In [17]:
any(df.isna().sum().values)

False